# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Temporary editor files
*~
*.swp

# build directory
build/*

# patches, patch related files
*.orig
*.patch
*.diff
